<provide(:title,'Choose your favorate tags')>
<h1>Time to choose your favorate tags</h1>
<form role="form" action="wait" method="GET">
	<div class="form-group">
<select multiple class="form-control" name="selected[]">
	<option value="Diners">Diners</option>
	<option value="Italian">Italian</option>
	<option value="Wine Bars">Wine Bars</option>
	<option value="Vegetarian">Vegetarian</option>
	<option value="Korean">Korean</option>
	<option value="Taiwanese">Taiwanese</option>
	<option value="Fondue">Fondue</option>
	<option value="Dim Sum">Dim Sum</option>
	<option value="Cantonese">Cantonese</option>
	<option value="Szechuan">Szechuan</option>
	<option value="Hot Pot">Hot Pot</option>
	<option value="Seafood">Seafood</option>
	<option value="Sushi Bars">Sushi Bars</option>
	<option value="Chinese">Chinese</option>
	<option value="American (Traditional)">American (Traditional)</option>
	<option value="Donuts">Donuts</option>
</select>
</div>
<div class="form-group">
<input type="submit" class="btn btn-primary" value="Submit">
</div>
</form>