<provide(:title,'Choose your favorate tags')>
<h1>Time to choose your favorate tags</h1>
<form role="form" action="wait">
	<div class="form-group">
<select multiple class="form-control" name="selected">
	<option value="diners">Diners</option>
	<option value="italian">Italian</option>
	<option value="winebars">Wine Bars</option>
	<option value="vegetarian">Vegetarian</option>
	<option value="korean">Korean</option>
	<option value="taiwanese">Taiwanese</option>
	<option value="fondue">Fondue</option>
	<option value="dimsum">Dim Sum</option>
	<option value="cantonese">Cantonese</option>
	<option value="szechuan">Szechuan</option>
	<option value="hotpot">Hot Pot</option>
	<option value="seafood">Seafood</option>
	<option value="sushibars">Sushi Bars</option>
	<option value="chinese">Chinese</option>
	<option value="american">American (Traditional)</option>
	<option value="donuts">Donuts</option>
</select>
</div>
<div class="form-group">
<input type="submit" class="btn btn-primary" value="Submit">
</div>
</form>