<h1>We recommend these restaurant for you:</h1>

<form role="form" action='arestaurant'>
	<div class="form-group">
		<div class="col-xs-3">
			<input type="text" name = "name" class="form-control" placeholder="restaurant's name">
		</div>
	</div>
	<div class="form-group">
		<input type="submit" value="Search" class="btn btn-primary">
	</div>
</form>

