<% provide(:title,'Sign up')%>
<h1>Sign Up</h1>
<p>Find me in app/views/signup/new.html.erb</p>
<p>
	<%= readuser %>
</p>
<div class="row">
	<div class="span6 offset3">

	<form action="recom" method="GET">
		Name:
		<input type="text" name="name">
		<input type="submit" value="Submit">
	 </form>
	</div>
</div>
