<form role="form" action='my_account'>
	<div class="form-group">
        <input type="text" name="friendname" placeholder="Enter your friend's name here">
    </div>
    <div>
		<input type="submit" class="btn btn-primary" value="Submit"</input>
	</div>
</form>
