<footer class="footer">
  <small>
    The Yelp Recommendation App</a>
    by Yang Cao, Yuexi Ma, Muruo Liu, and Yuanjie Chen</a>

						<% if cookies[:username]!=nil%>
							<%= "  Logged in as "+cookies[:username]%>
						<% end %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
  </nav>
</footer>